body{
    background-color: rgb(25, 25, 25);
}

#layout {
    background-color: rgb(15, 15, 15);
    margin: 40px;
    height: 865px;
    width: 95%;
    border: 10px solid rgb(15, 15, 15b);
    border-radius: 3%;
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 20px;;
}

#element {
    height: 47.5%;
    width: 48.5%;
    background-color: #8DAB7F;
    border-radius: 3%;
}

#element2 {
    height: 47.5%;
    width: 48.5%;
    background-color: #8DAB7F;
    margin-left: auto;
    border-radius: 3%;
}

#element3 {
    height: 47.5%;
    width: 48.5%;
    background-color: #8DAB7F;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3%;
}

#element4 {
    height: 47.5%;
    width: 48.5%;
    background-color: #8DAB7F;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 3%;
}