body {
    background-color: black;
    color: white;
}

* {
    font-family: monospace;
}

#container {
    text-align: center;
}

#heading {
    position: relative;
    font-size: 50px;
    transition: all 1s;
    display: inline-block;
}

#heading:hover {
    color: red;
}

#heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: width 0.7s;
    transform: translateX(-50%);
}

#heading:hover::after {
    width: 100%;
}

#subheading {
    font-size: 35px;
    position: relative;
    display: inline-block;
    margin: 5px;
}

#subheading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; /* Align the underline to the start of the text */
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: width 0.7s; /* Smooth transition */
}

#subheading:hover::after {
    width: 100%;
}

#para {
    font-size: 25px;
    transition: all 0.7s;
    font-weight: normal;
}

#para:hover {
    color: lightblue;
}

#subheading .first-letter {
    transition: all 0.7s;
}

#subheading:hover .first-letter {
    color: red;
}


#skill {
    position: relative;
    height: 230px;
    width: 40%;
    margin: 20px 0;
    background-image: url(/images/calisthenics/marc-kleen-Jo025H0ILaM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    cursor: pointer;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0 2px 8px #0002;
    user-select: none;
    z-index: 1;
    transition: all 0.5s;
}

.skill-details {
    display: none;
    position: absolute;
    left: 0;
    width: 40%;
    border-radius: 8px;
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s, transform 0.4s;
    z-index: 10;
    padding: 15px;
}

.skill-details.active {
    display: block;
    opacity: 1;
    transform: scale(1);
    animation: popDetails 0.4s cubic-bezier(.68,-0.55,.27,1.55);
}

@keyframes popDetails {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#skill-details1 {  
    top: 0px;
    left: 350px;
    height: 200px;
    background-image: url(/images/calisthenics/handstand.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#skill-details2 {  
    top: 0px;
    left: 750px;
    height: 200px;
    background-image: url(/images/calisthenics/handstand_press.png);
    background-size: 100% 100%;
    background-position: bottom;
}

#skill-details3 {  
    top: 0px;
    left: 1150px;
    height: 200px;
    background-image: url(https://gmb.io/wp-content/uploads/2015/11/2017_HSPU_Ryan_04.jpg);
    background-size: cover;
    background-position: center;

}

#skill-details4 {
    top: 0px;
    left: 1550px;
    height: 200px;
    background-image: url(https://i.ytimg.com/vi/R1iCQnAtveU/maxresdefault.jpg);
    background-size: cover;


}

#skill-details1-2 {  
    top: 0px;
    left: 350px;
    height: 200px;
    background-image: url(/images/calisthenics/tuck-planche.png);
    background-size: cover;
    transition: all 0.7s;
}

#skill-details2-2 {  
    top: 0px;
    left: 750px;
    height: 200px;
    background-image: url(/images/calisthenics/adv-tuck-planche.png);
    background-size: cover;
}

#skill-details3-2 {  
    top: 0px;
    left: 1150px;
    height: 200px;
    background-image: url(https://cdn.shopify.com/s/files/1/0568/6280/2107/files/Straddle_planche_480x480.jpg);
    background-size: cover;
}

#skill-details4-2 {
    top: 0px;
    left: 1550px;
    height: 200px;
    background-image: url(https://www.callisthenie-corner.fr/wp-content/uploads/2024/06/full-planche-pronation.jpg);
    background-size: cover;
}

#skill-2 {
    position: relative;
    height: 230px;
    width: 40%;
    margin: 20px 0;
    background-image: url(https://i.redd.it/t4thwoiudncb1.jpg);
    background-size: cover;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    transition: all 0.5s;
}

.fade-text {
    position: absolute;
    top: 100px; /* adjust as needed to be in front of #skill-2 */
    left: 500px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: white;
    border-radius: 8px;
    padding: 10px 0;
    opacity: 1;
    transition: all 1.8s
}

.fade-text.hide {
    opacity: 0;
    transition: all 1.8s;
}

.fade-text #handstand{
    color: yellow;
}

#skill-2:hover {
    transform: scale(1.05);
}

#skill-details1-2::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgb(0, 90, 0);
    opacity: 0;
    transition: opacity 0.7s;
    border-radius: 8px;
}

#skill-details1-2:hover::after {
    opacity: 0.5;
}

#skill-details2-2::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgb(0, 90, 0);
    opacity: 0;
    transition: opacity 0.7s;
    border-radius: 8px;
}

#skill-details2-2:hover::after {
    opacity: 0.5;
}

#skill-details3-2::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgb(100, 0, 0);
    opacity: 0;
    transition: opacity 0.7s;
    border-radius: 8px;
}

#skill-details3-2:hover::after {
    opacity: 0.5;
}

#skill-details4-2::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgb(100, 0, 0);
    opacity: 0;
    transition: opacity 0.7s;
    border-radius: 8px;
}

#skill-details4-2:hover::after {
    opacity: 0.5;
}

#skill-details1::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgb(0, 90, 0);
    opacity: 0;
    transition: opacity 0.7s;
    border-radius: 8px;
}

#skill-details1:hover::after {
    opacity: 0.5;
}

#skill-details2::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgb(0, 90, 0);
    opacity: 0;
    transition: opacity 0.7s;
    border-radius: 8px;
}

#skill-details2:hover::after {
    opacity: 0.5;
}

#skill-details3::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgb(100, 0, 0);
    opacity: 0;
    transition: opacity 0.7s;
    border-radius: 8px;
}

#skill-details3:hover::after {
    opacity: 0.5;
}

#skill-details4::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgb(100, 0, 0);
    opacity: 0;
    transition: opacity 0.7s;
    border-radius: 8px;
}

#skill-details4:hover::after {
    opacity: 0.5;
}

#skill:hover {
    transform: scale(1.05);
}

#side-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Start hidden off-screen */
  width: 250px;
  height: 100%;
  background: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  transition: left 0.3s;
  z-index: 1000;
}
#side-menu.open {
  left: 0; /* Slide in */
}
#side-menu a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 18px;
  transition: all 0.5s;
  margin-top: 25px;
}
#menu-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1100;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

#side-menu a:hover {
    color: aqua;
}

#menu-btn:hover {
    color: yellow;
}

#menu-btn.active {
  position: fixed;
}


