body {
    background-color: black;
    color: white;
}

* {
    font-family: monospace;
}

#container {
    text-align: center;
}

#heading {
    position: relative;
    font-size: 50px;
    transition: all 1s;
    display: inline-block;
}

#heading:hover {
    color: red;
}

#heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: width 0.7s;
    transform: translateX(-50%);
}

#heading:hover::after {
    width: 100%;
}

#subheading {
    font-size: 35px;
    position: relative;
    display: inline-block;
    margin: 5px;
}

#subheading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; /* Align the underline to the start of the text */
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: width 0.7s; /* Smooth transition */
}

#subheading:hover::after {
    width: 100%;
}

#para {
    font-size: 25px;
    transition: all 0.7s;
    font-weight: normal;
}

#para:hover {
    color: lightblue;
}

#subheading .first-letter {
    transition: all 0.7s;
}

#subheading:hover .first-letter {
    color: red;
}


#skill {
    position: relative;
    height: 230px;
    width: 40%;
    margin: 20px 0;
    background-color: #bfa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 8px #0002;
    user-select: none;
    z-index: 1;
}

.skill-details {
    display: none;
    position: absolute;
    left: 0;
    width: 40%;
    background: aqua;
    border-radius: 8px;
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s, transform 0.4s;
    z-index: 10;
    padding: 15px;
}

.skill-details.active {
    display: block;
    opacity: 1;
    transform: scale(1);
    animation: popDetails 0.4s cubic-bezier(.68,-0.55,.27,1.55);
}

@keyframes popDetails {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#skill-details1 {  
    top: 0px;
    left: 350px;
    height: 200px;
}

#skill-details2 {  
    top: 0px;
    left: 750px;
    height: 200px;
}

#skill-details3 {  
    top: 0px;
    left: 1150px;
    height: 200px;
}

#skill-details4 {
    top: 0px;
    left: 1550px;
    height: 200px;
}

#skill-details1-2 {  
    top: 0px;
    left: 350px;
    height: 200px;
}

#skill-details2-2 {  
    top: 0px;
    left: 750px;
    height: 200px;
}

#skill-details3-2 {  
    top: 0px;
    left: 1150px;
    height: 200px;
}

#skill-details4-2 {
    top: 0px;
    left: 1550px;
    height: 200px;
}

#skill-2 {
    position: relative;
    height: 230px;
    width: 40%;
    margin: 20px 0;
    background-image: url(https://i.redd.it/t4thwoiudncb1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    transition: all 0.5s;
}

.fade-text {
    position: absolute;
    top: 100px; /* adjust as needed to be in front of #skill-2 */
    left: 500px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: white;
    border-radius: 8px;
    padding: 10px 0;
    opacity: 1;
    transition: all 1.8s
}

.fade-text.hide {
    opacity: 0;
    transition: all 1.8s;
}

.fade-text #handstand{
    color: yellow;
}

#skill-2:hover {
    transform: scale(1.05);
}